* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    padding: 50px 0;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1600px;
    height:1800px;
    margin: auto;
    background: #f2f0f0;
    box-sizing: border-box;
}
.orange_lane{
    height: 30px;
    width: 1600px;
    background-color: #eb6c10;
    display:inline-block;
}
.elipse {
    display:inline-block;
    padding: 23px 0 0 330px;
}
.elipse a {
   display: inline-block;
}
.menu {
    font-size: 21px;
    float: right;
    margin: 60px 180px 55px 0;
}
.home_menu {
    padding: 5px;
}
.menu ul {
    list-style: none;
}
.menu li {
    display: inline-block;
    margin-right: 24px;

}
.menu a {
    color: #85423f;

}
.box a{
    background-color: #eb6c10;
    color: #ffffff;
    border-radius: 6px;
}
.head_image {
    background-color: #f2f0f0;

}
.back {
    position:relative ;
}
.dot {
    margin: 35px 0 0 325px;
}
.left_content {
    display: inline-block;
}
.h1 {
    font-size: 25px;
    color: #5d0400;
    margin: 40px 0 0 330px;
}
.povar {
    margin:30px 0 0 330px ;
}
.povar p {
    display: inline-block;
    font-size: 14px;
    position: relative;
    bottom: 70px;

}
.more {
    display: inline-block;
    font-size: 12px;
    border-radius: 6px;
    background-color: #eb6c10;
    position: relative;
    right: 285px;
    bottom: 30px;
    padding: 4px;
    color: white;
}
.pink_text {
    color: #e6a7a5;
}
.right_content {
    display: inline-block;
}
.features {
    font-size: 25px;
    color: #5d0400;
    margin-bottom: 22px;
}
.right_content ul li {
    padding-top: 14px;
    font-size: 14px;
}
.dot2 {
    margin: 30px 0 0 325px;
}
.best_choice_h {
    font-size: 25px;
    color: #5d0400;
    margin: 30px 0 0 330px;
}
.offer_1 {
    display: inline-block;
}
.dish_1 {
    height: 200px;
    margin: 30px 0 0 330px;

}
.name_dish_1 {
    font-size: 12px;
    padding-top: 20px;
}
.bottom_text_1{
    font-size: 12px;
    color: #826660;
}
.price_1 {
    font-size: 20px;
    background-color:#eb6c10 ;
    border-radius: 6px;
    color: white;
    padding: 6px;
    width:30px ;
    margin-top: 15px;
}
.offer_2 {
    display: inline-block;
    margin-left: 22px;
}
.offer_3 {
    display: inline-block;
    margin-left: 22px;
}
.offer_4 {
    display: inline-block;
    margin-left: 22px;
}
.dot3 {
    margin: 40px 0 0 325px;
}
.follow_us {
    display: inline-block;
}
.follow_us_h {
    font-size: 25px;
    color: #5d0400;
    margin: 40px 0 0 330px;
}
.badges {
    display: inline-block;
    margin: 25px 0 0 330px;
}
.footer_menu {
    font-size: 12px;
    margin: 25px 0 0 330px;
}
.footer_menu ul {
    list-style: none;
}
.footer_menu ul li {
    display: inline-block;
    padding-right: 20px;

}
.footer_menu ul li a {
    color:#504f4f;
}
.email_updates {
    display: inline-block;
}
.email_updates_h {
     font-size: 25px;
     color: #5d0400;
     margin: 30px 0 0 88px;
}
.footer_text {
    font-size: 12px;
    margin: 30px 0 0 88px;
    padding-bottom: 11px;
}
.email {
    display: inline-block;
    padding: 5px 55px 5px 5px;
    background-color: white;
    color: #c3c3c3;
    margin-left: 88px;
    border: 1px solid #c3c3c3;
}
.subscribe {
    display: inline-block;
    font-size: 13px;
    background-color: #eb6c10;
    padding: 6px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
.group {
    font-size: 16px;
    padding: 30px 30px 30px 500px;
    background-color: #eb6c10;
    margin-top: 20px;
    color: white;
}




