* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px 0;
}
a {
    text-decoration: none;
    display: inline-block;
}
.wrapper {
    width: 1600px;
    margin: auto ;
    background: #f2f0f0;
    box-sizing: border-box;
}
.orange_line{
    height: 30px;
    width: 1600px;
    background-color: #eb6c10;
    display:inline-block;
}
.wrapper_content {
    width: 930px;
    margin: auto ;
}
.elipse {
    display:inline-block;
    padding-top: 20px;
}
.elipse a {
   display: inline-block;
}
header {
    overflow: hidden;
}
.menu {
    display: inline-block;
    font-size: 18px;
    float: right;
    padding: 50px 0 50px 0;
}
.home_menu {
    padding: 5px;
}
.menu ul {
    list-style: none;
}
.menu li {
    display: inline-block;
    padding-right: 15px;
}
.menu li a {
    padding: 5px;
}
.menu li a:hover {
    color: white;
    background-color: #eb6c10;
    border-radius: 6px;
}
.menu a {
    color: #85423f;

}
.box a{
    background-color: #eb6c10;
    color: #ffffff;
    border-radius: 6px;
}
.head_image {
    background-color: #f2f0f0;

}
.back {
    position:relative ;
}
.big_image {
    margin-bottom: 30px;
}
.dot {
    width: 945px;
    margin: 0 auto;
}
.left_content {
    display: inline-block;
}
.title {
    font-size: 25px;
    color: #5d0400;
    margin: 40px 0 0 0px;
}
.left_image {
    padding-top: 30px;
}
.left_image p {
    display: inline-block;
    font-size: 14px;
    position: relative;
    bottom: 70px;

}
.more {
    display: inline-block;
    font-size: 12px;
    border-radius: 6px;
    background-color: #eb6c10;
    position: relative;
    right: 285px;
    bottom: 30px;
    padding: 4px;
    color: white;
}
.pink_text {
    color: #e6a7a5;
}
.right_content {
    display: inline-block;
}
.title_1 {
    font-size: 25px;
    color: #5d0400;
    margin-bottom: 22px;
}
.right_content ul li {
    padding-top: 14px;
    font-size: 14px;
}
.welcome{
    margin-bottom: 30px;
}

.dot2 {
    width: 945px;
    margin: 0 auto;
}
.best_choice_h {
    font-size: 25px;
    color: #5d0400;
    margin-top: 25px;
}
.offer_1:nth-child(1) {
    display: inline-block;
    margin-right: 18px;
}
.dish_1 {
    height: 200px;
    margin-top: 30px;

}
.name_dish_1 {
    font-size: 12px;
    padding-top: 20px;
}
.bottom_text_1{
    font-size: 12px;
    color: #826660;
}
.price_1 {
    font-size: 20px;
    background-color:#eb6c10 ;
    border-radius: 6px;
    color: white;
    padding: 6px;
    width:30px ;
    margin-top: 15px;
}
.offer_1:nth-child(2) {
    display: inline-block;
    margin-left: 18px;
}
.offer_1:nth-child(3) {
    display: inline-block;
    margin-right: 18px;
}
.offer_1:nth-child(4) {
    display: inline-block;
    margin-right: 18px;
}
.best_choice {
    margin-bottom: 40px;
}
.best_choice a {
    color: #1d1916;
}
.dot3 {
    width: 945px;
    margin: 0 auto;
}
.follow_us {
    display: inline-block;
}
.follow_us_h {
    font-size: 25px;
    color: #5d0400;
    margin-top: 40px;
}

.footer_menu {
    font-size: 12px;
    margin-top: 25px ;
}
.footer_menu ul {
    list-style: none;
}
.footer_menu ul li {
    display: inline-block;
    padding-right: 20px;

}
.footer_menu ul li a {
    color:#504f4f;
}
.email_updates {
    display: inline-block;
}
.email_updates_h {
     font-size: 25px;
     color: #5d0400;
     margin: 30px 0 0 88px;
}
.footer_text {
    font-size: 12px;
    margin: 30px 0 0 88px;
    padding-bottom: 11px;
}
.group {
    font-size: 16px;
    padding: 30px 0 30px 0;
    margin-top: 20px;
    color: white;
}
.folow ul li {
    display: inline-block;
    padding-right: 5px;
}
.folow {
    margin-top:30px;

}
input {
    padding:  4px;
}
form {
    padding-left: 88px;
}
button {
    padding: 5px;
    background-color: #eb6c10;
    border-radius: 6px;
    color: white;
    border:none;
}
.footer_end {
    width: 600px;
    margin: auto;
}
.wrapper_footer {
    width: 1600px;
    background-color: #eb6c10;
}




