* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    padding: 50px 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.wrapper {
    width: 1600px;
    height:1800px;
    margin: auto;
    background: #f2f0f0;
    box-sizing: border-box;
}
.orange_lane{
    height: 30px;
    width: 1600px;
    background-color: #eb6c10;
    display:inline-block;
}
.elipse {
    display:inline-block;
    padding: 23px 0 0 330px;
}
.menu {
    font-size: 21px;
    float: right;
    padding: 56px 180px 0 0;
}
.menu li {
    display: inline-block;
    margin-right: 24px;

}
.menu a {
    color: #85423f;

}
.box a{
    background-color: #eb6c10;
    color: #ffffff;
    border-radius: 4px;
}
.head_image {
    background-color: #f2f0f0;

}
.back {
    position:relative ;
}
.dot {
    margin: 60px 0 0 325px;
}
.h1 {
    font-size: 25px;
    color: #5d0400;
    margin: 40px 0 0 330px;
}
.welcome {
    width: 850px;
}
.povar {
    margin:30px 0 0 330px ;
}
.povar p {
    display: inline-block;
    font-size: 14px;
    position: relative;
    bottom: 70px;

}
h3 {
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    background-color: #eb6c10;
    width: 40px;
    position: relative;
    right: 285px;
    bottom: 30px;
}
.h2 {
    font-size: 5px;
    color: #5d0400;
    display: inline-block;
    margin-left: 960px;
}
